<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakeme.sazedul.games.bricksongrid" >

    <application
        android:isGame="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="nosensor"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shakeme.sazedul.games.bricksongrid.MainMenuActivity" />
        </activity>
        <activity
            android:name=".InstructionActivity"
            android:label="@string/title_activity_instruction"
            android:screenOrientation="nosensor"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shakeme.sazedul.games.bricksongrid.MainMenuActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="nosensor"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shakeme.sazedul.games.bricksongrid.MainMenuActivity" />
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits"
            android:screenOrientation="nosensor"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shakeme.sazedul.games.bricksongrid.MainMenuActivity" />
        </activity>
    </application>

</manifest>
